@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-body-padding {
  padding: 0 3em;
  background: #191725;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}

.earls-home {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #6957d0;
}

.nav-list {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #cab8b8;
}

.nav-list-items:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #5c48ca;
  color: #5c48ca;
  text-decoration-thickness: 2px;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

.get-in-touch-btn {
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #cab8b8;
  background-color: transparent;
  border: 1px solid #cab8b8;
  border-radius: 7px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.get-in-touch-btn:hover {
  border-color: #6957d0;
  transition: all 0.4s ease-in-out;
  color: #5c48ca;
}

.text-and-image-div {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  width: 100%;
}

.text-div {
  width: 70%;
}

.hello-text {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-size: 35px;
  color: #cab8b8;
}

.name-title {
  font-family: "Kurale", serif;
  font-weight: 500;
  font-size: 65px;
  color: #6957d0;
}

.greeting-text {
  width: 100%;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #cab8b8;
  margin-bottom: 15px;
}

.hero-image {
  width: 30%;
}

.hero-img {
  width: 100%;
}

.abt-and-prj-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.horizontal-line {
  border-top: 1px solid #cab8b8;
  width: 100%;
  margin: 30px 0;
}

.experience-div {
  color: #cab8b8;
  display: flex;
  gap: 70px;
  margin-bottom: 20px;
}

.experience-tag {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-size: 45px;
  color: #cab8b8;
}

.about-me {
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #cab8b8;
  margin: 0 0 10px 0;
}

.about-me-text {
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #cab8b8;
}

.about-me-part {
  margin: 0 0 40px 0;
}

.services-i-offer-text {
  font-family: "Kurale", serif;
  font-weight: 200;
  font-size: 20px;
  color: #cab8b8;
  margin-bottom: 30px;
}

.services-div {
  display: flex;
  gap: 20px;
}

.all-diff-services {
  border: 2px solid #cab8b8;
  padding: 40px 30px;
  text-align: center;
  border-radius: 20px;
  color: #cab8b8;
}

.all-diff-services:hover {
  border-color: #5c48ca;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.service-title {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
}

.service-note {
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.list-of-projects {
  padding: 1em 0;
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #cab8b8;
}

.proj-list {
  border: 2px solid #cab8b8;
  width: 230px;
  padding: 0.5em;
  border-radius: 8px;
}

.proj-title {
 margin-bottom: 10px;
 font-size: 15px;
}

.list-of-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 5px;
}

.link-btn {
  font-family: "Ysabeau Infant", sans-serif;
  padding: 5px;
  border-radius: 7px;
  /* border: ; */
  background-color: #cab8b8;
  color: #5c48ca;
  font-weight: 700;
  font-size: 15px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .earls-home {
    font-size: 25px;
    font-weight: 600;
  }
  .navbar {
    justify-content: space-between;
    gap: 5px;
  }

  .hero-image {
    display: none;
    width: 0;
  }

  .name-title {
    text-align: center;
  }

  .text-div {
    width: 100%;
  }

  .greeting-text {
    text-align: center;
  }

  .services-div {
    flex-direction: column;
  }

  .text-and-image-div {
    justify-content: center;
  }

  .abt-and-prj-btn {
    justify-content: center;
  }

  .experience-div {
    flex-direction: column;
    gap: 10px;
  }

  .list-of-projects{
    grid-template-columns: repeat(2, 2fr)
  }

}


/* @media screen and (max-width: 600px) {

} */

/* .featured-projects-note {
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #cab8b8;
} */
